<h1 class="page-header">{{title}}</h1>
<h2 ng-if="message">{{message}}</h2>
<div class="list-group">
  <a ng-repeat="item in subjects" href="#" class="list-group-item ">
  	<span class="badge">{{item.rating.average}}</span>
    <div class="media">
		  <div class="media-left">
		      <img class="media-object" ng-src="{{item.images.small}}" alt="item.title">
		  </div>
		  <div class="media-body">
		    <h2 class="media-heading">{{item.title}}</h2>
		    <p>
		    	类型：<span>{{item.genres.join("、")}}</span>&nbsp;&nbsp;&nbsp;&nbsp;
					上映年份：<span>{{item.year}}</span>
		    </p>
		    <p>导演：
		    <span ng-repeat="d in item.directors">
				{{d.name+($last?'':'、')}}
		    </span>
		    </p>

		    <p>
		    	主演：
		    	<span ng-repeat="c in item.casts">{{c.name}}{{$last?'':'、'}}</span>
		    </p>
		  </div>
		</div>
  </a>
</div>

<div class="mask" ng-show="loading">
	<div class="spinner">
	  <div class="rect1"></div>
	  <div class="rect2"></div>
	  <div class="rect3"></div>
	  <div class="rect4"></div>
	  <div class="rect5"></div>
	</div>
</div>
<div ng-show="!loading">
	<p>总共：{{totalCount}}条记录，第{{page}}/{{totalPages}}页</p>
	<nav aria-label="...">
	  <ul class="pager">
	    <li ng-class="{disabled:page<=1}"><a ng-click="go(page-1)">«&nbsp;上一页</a></li>
	    <li ng-class="{disabled:page>=totalPages}"><a ng-click="go(page+1)">下一页&nbsp;»</a></li>
	  </ul>
	</nav>
</div>
